pytest
pytest-mock
parameterized
flake8

# pytest reports
pytest-reportlog
pytest-excel
pytest-html
allure-pytest
testproject-python-sdk

# for parallel execution
pytest-xdist

# ui testing
selenium

# rest api testing
requests

# load testing
sanic
flask
locust

# for android native and Windows
Appium-Python-Client>=0.28
